<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <title>Flask Auth Example</title>

    <!-- https://bootstrap.themes.guide/#themes -->
    <!-- https://stackoverflow.com/questions/25034812/use-a-css-stylesheet-on-a-jinja2-template/25034903 -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='blue-voltage-theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='boldstrap-theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-purple-theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='darkster.theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='fresca-theme.min.css') }}"/> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='hootstrap.theme.min.css') }}"/>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='signal-theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='tequila.theme.min.css') }}"/> -->
</head>

<body class="bg-primary">
<section class="container bg-primary">
    <div class="card bg-primary">
        <div class="card-header bg-info">
            <nav class="nav navbar-expand-md">
                <div class="container-fluid">
                    <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.profile') }}">Profile</a>
                        </li>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign Up</a>
                        </li>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                        </li>
                        {% endif %}
                    </ul>

                </div>
            </nav>
        </div>

        <div class="card-body bg-primary">
            <div>
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>

</section>
</body>

</html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>