<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <title>Flask Auth Example</title>

    <!-- https://bootstrap.themes.guide/#themes -->
    <!-- https://stackoverflow.com/questions/25034812/use-a-css-stylesheet-on-a-jinja2-template/25034903 -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='blue-voltage-theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='boldstrap-theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-purple-theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='darkster.theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='fresca-theme.min.css') }}"/> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='hootstrap.theme.min.css') }}"/>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='signal-theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='tequila.theme.min.css') }}"/> -->
</head>

<body class="bg-primary">
<div class="container bg-primary">

    <nav class="navbar navbar-expand-md navbar-light bg-primary">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.profile') }}">Profile</a>
            </li>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign Up</a>
            </li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
            {% endif %}
        </ul>


    </nav>

    <div class="card bg-primary">

        <div class="card-body bg-primary">
            <div>
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>

</div>
</body>

</html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>