{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h4>Login</h4>
    <hr class="border border-danger border-2 opacity-50">

    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">

            <fieldset>
                <div class="row g-3 align-items-center">
                    <div class="col-1">
                        <label for="inputEmail" class="col-form-label">Email</label>
                    </div>
                    <div class="col-auto">
                        <input class="form-control" type="email" id="inputEmail" name="email" placeholder="Your Email"
                               autofocus="">
                    </div>
                </div>

                <div class="row g-3 align-items-center">
                    <div class="col-1">
                        <label for="inputPassword" class="col-form-label">Password</label>
                    </div>
                    <div class="col-auto">
                        <input class="form-control" type="password" id="inputPassword"
                               aria-describedby="passwordHelpInline" name="password" placeholder="Your Password">
                    </div>
                    <div class="col-auto">
                        <span id="passwordHelpInline" class="form-text text-info">Must be 8-20 characters long.</span>
                    </div>
                </div>
                <hr class="border border-danger border-2 opacity-50">
                <div class="row g-3 align-items-center">
                    <div class="col-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="remember" value=""
                                   id="rememberCheckBox">
                            <label class="form-check-label" for="rememberCheckBox">Remember me</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-secondary">Login</button>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
</div>
{% endblock %}